---
---
<main>
  <ul>
    {% for post in site.posts %}
      <li>
        <span style="opacity:0.4; margin-right:10px;">
          {{ post.date | date: "%Y.%m.%d" }}
        </span>

        <a href="{{ post.url }}">
          {{ post.title }}
        </a>

        {% if post.categories %}
          <span style="margin-left:8px; opacity:0.3;">
            [{% for cat in post.categories %}{{ cat }}{% unless forloop.last %}, {% endunless %}{% endfor %}]
          </span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</main>
